.background {
  background: url('../../static/robot.jpg') no-repeat;
  background-position: right top;
  background-size: contain;
  height: 98vh;
  text-align: center;
}

.info {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

